---
---

@import url('https://fonts.googleapis.com/css?family=Sora');
@import "{{ site.theme }}";
.main-content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
   color: #162c5e;
   font-family: 'Sora';
   margin-left: 150px;
 p {
   display: block;
   font-family: 'Sora';
    }
 a {
  color: #426eff;
  font-family: 'Sora';
  text-decoration: none;
}
}
.page-header {
  color: #f9f8eb;
  text-align: left;
  margin-left: 250px;
  height: 80px;
  background-color: #426eff;
  background-image: none;
  font-family: 'Sora';
}
footer {
  font-family: 'Sora';
  width: 80%;
  float: right;
  margin-bottom: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
